NEXT_PUBLIC_SUPABASE_URL=https://kxkoruprzsnsunoogsqs.supabase.co/
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imt4a29ydXByenNuc3Vub29nc3FzIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzY1MjAzMjIsImV4cCI6MjA5MjA5NjMyMn0.XBDshSlg0K01jAbQ26boJv-3Ed5I5mtJiTiJ4I8KolE
NEXT_PUBLIC_CUSTOMER_APP_URL=http://localhost:3000
